







<div class="my-auto">
    <img src="https://dummyimage.com/200x300/000/fff" style="width:300px ;height:400px" />
</div>
<ul class="list-unstyled mx-3">
    <li class="fs-4 my-3">書本編號: 453453</li>
    <li class="fs-4 my-3 text-truncate" style="max-width:500px" title="老人與海dsddddddddddddddddddddddddddddddddddddddddddddddddddd">書本名稱: 老人與海dsddddddddddddddddddddddddddddddddddddddddddddddddddd</li>
    <li class="fs-4 my-3" text-truncate" style="max-width:500px" title="海明威">作者: 海明威</li>
    <li class="fs-4 my-3" text-truncate" style="max-width:500px" title="老王">譯者: 老王</li>
    <li class="fs-4 my-3" text-truncate" style="max-width:500px">類型: 海明威</li>
    <li class="fs-4 my-3" >出版社: 醬燒豬排社</li>
    <li class="fs-4 my-3">出版年份: 海明威</li>
    <li class="fs-4 my-3">狀況: 未借出</li>
</ul>
