
    <ul class="list-unstyled fs-3">
        <li>借閱人: 老王</li>
        <li>已成功借閱書籍 老人與海</li>
        <li>借閱日期: @DateTime.Now</li>
        <li>回書日期: @DateTime.Now.ToString("yyyy-MM-dd")</li>
    </ul>


<div class="alert alert-success">這裡是找不到借閱人以及書本顯示區塊</div>
