<ul class="list-unstyled fs-3">
    <li>借閱人: 老王</li>
    <li>於 @DateTime.Now</li>
    <li>歸還 龍眠</li>
</ul>


<div class="alert alert-success">找不到書籍</div>
<div class="alert alert-success">該書本沒有被借閱</div>
<div class="alert alert-success">已逾期</div>
