<div class="container border border-4 text-center mt-5 p-2">
    <h1>還書系統</h1>
    <form clas="" asp-action="" asp-controller="" method="post">
        <div class="my-3 row justify-content-center">
            <label class="col-3 form-form-label fs-5">書籍編號:</label>
            <input class="col-3" type="text" />
        </div>
        <button class="btn btn-primary btn-lg">借出</button>
    </form>
    <div class="container"></div>
</div>
<div class="container border border-5 mt-2">
    
</div>