<div class="container border border-4 text-center mt-5 p-2 align-middle">
    <h1>預約管理</h1>
    <form class="container mt-1">
        <!-- 書名 -->
        <div class="row justify-content-center align-items-center mb-3">
            <div class="col-1 text-end">
                <label class="col-form-label fs-5">書名:</label>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" />
            </div>
            <div class="col-1 text-end">
                <label class="col-form-label fs-5">姓名:</label>
            </div>
            <div class="col-2">
                <input type="text" class="form-control" />
            </div>
        </div>
        <!-- 日期範圍 -->
        <div class="row justify-content-center align-items-center mb-3">
            <div class="col-2 text-end">
                <label class="col-form-label fs-5">日期範圍:</label>
            </div>
            <div class="col-3">
                <input type="date" class="form-control" />
            </div>
            <div class="col-1">至</div>
            <div class="col-3">
                <input type="date" class="form-control" />
            </div>
        </div>

        <!-- 查詢按鈕 -->
        <div class="row justify-content-center mt-4">
            <div class="col-auto">
                <button type="submit" class="btn btn-primary px-4">查詢</button>
            </div>
        </div>
    </form>

    <hr>
</div>
<div class="container border border-5 mt-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">借閱者</th>
                <th scope="col">書籍名稱</th>
                <th scope="col">預約時間</th>
                <th scope="col">順位</th>
                <th scope="col">狀態</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="justify-content-md-center">
                <td class="align-middle">老王</td>
                <td class="align-middle">持續買進</td>
                <td class="align-middle">2025-06-23</td>
                <td class="align-middle">2</td>
                <td class="align-middle">等候</td>
                <td class="align-middle text-center"><button class="btn btn-primary">通知</button><button class="btn btn-danger">取消預約</button></td>

            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-3">
    <div class="d-flex justify-content-center align-items-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>