@*書本書籍*@
<div class="d-flex flex-row my-5" style="height: 300px">
    <div>
        <img src="https://dummyimage.com/200x300/000/fff" style="width:200px ;height:300px" />
    </div>
    <ul class="list-unstyled">
        <li class="fs-4">借閱書本: 老人與海</li>
        <li class="fs-4">書本編號: 453453</li>
    </ul>
</div>