@*使用者資訊*@
<div class="d-flex flex-row my-3" style="height: 300px">
    <div>
        <img src="https://dummyimage.com/200x300/000/fff" style="width:200px ;height:300px" />
    </div>
    <ul class="list-unstyled mx-3">
        <li class="fs-4 my-3">借閱者ID: ABDJL42541235</li>
        <li class="fs-4 my-3">借閱者姓名: 老王</li>
    </ul>
</div>