<h1>這裡是借書的地方</h1>
<div class="container border borer-2 border-primary">
    <form>
        <div>
            <label for="UserID">借閱者ID:</label>
            <input type="text" name="UserID" class="form-control" />
        </div>

        <label for="BookNumber">書籍編號: </label>
        <input type="text" name="BookNumber" class="form-control" />
        <button id="borrowSend" type="button">送出</button>
    </form>
</div>


