<div class="container border border-4 text-center mt-5 p-2">
    <h1>借閱系統</h1>
    <form clas="" asp-action="" asp-controller="" method="post">
        <div class="my-3 row justify-content-center">
            <label class="col-3 form-form-label fs-5">借閱人ID :  </label>
            <input class="col-3" type="text" />
        </div>
        <div class="my-3 row justify-content-center">
            <label class="col-3 form-form-label fs-5">書籍編號:</label>
            <input class="col-3" type="text" />
        </div>
        <button class="btn btn-primary btn-lg">借出</button>
    </form>
    <div class="container"></div>
</div>
<div class="container border border-5 mt-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">書籍編號</th>
                <th scope="col">借閱書籍</th>
                <th scope="col">借閱者</th>
                <th scope="col">借書日期</th>
                <th scope="col">預期日期</th>
                <th scope="col">借閱天數</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>IJL25344153</td>
                <td>持續買進</td>
                <td>老王</td>
                <td>2025-06-23</td>
                <td>2025-06-30</td>
                <td>7天</td>
            </tr>
        </tbody>
    </table>
</div>