<h1>還書模式</h1>
<hr />
<form id="ReturnBookIdForm">
    <label for="ReturnBookID">書籍編號:</label>
    <input id="ReturnBookID" type="text" placeholder="輸入書籍編號" name="ReturnBookID"/>
    <button id="ReturnBookBtn" type="button">歸還</button>
</form>


<div id="ReturnBookContent">
    @*回傳結果*@
</div>