<div class="container">
    <div class="row">
        <div class="col-3 my-1">
            <h1>預約模式</h1>
            <hr />
            <form id="appointmentModeForm" class="mt-5">
                <div class="col-10">
                    <label class="fs-3" for="appointmentMode_UserID">關鍵字查詢: </label>
                    <input id="appointmentMode_KeyWord" type="text" class="form-control" />
                </div>
                <div class="col-10">
                    <label class="fs-3" for="appointmentMode_UserID">借閱者ID: </label>
                    <input id="appointmentMode_UserID" type="text" name="appointmentMode_UserID" class="form-control" />
                </div>
                <div class="col-10">
                    <label class="fs-3" for="appointmentMode_BookNumber">書籍編號: </label>
                    <input id="appointmentMode_BookNumber" type="text" name="appointmentMode_BookNumber" class="form-control" />
                </div>
                <div class="my-4">
                    <button id="appointmentSend" type="button" class="btn btn-success btn-lg" value="appointment">預約</button>
                </div>
            </form>
            @*借書發送後的顯示*@
            <div id="appointmentSuccessContent"></div>
        </div>
        <div class="col-9" style="height: 660px" id="appointmentQueryBook">
            <table class="table mt-2" >
                <thead>
                    <tr>
                        <th scope="col">預約編號</th>
                        <th scope="col">書籍編號</th>
                        <th scope="col">書籍名稱</th>
                        <th scope="col">借閱人ID</th>
                        <th scope="col">借閱人名稱</th>
                        <th scope="col">預約日期</th>
                        <th scope="col">狀況</th>
                        <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<div id="appointmentQueryBook"></div>-->
                    @*查詢書本*@
                </tbody>
            </table>
</div>
    </div>
</div>




